* {box-sizing: border-box}
      body {
        background-image: url(https://i.imgur.com/bOceFKP.gif);
      }
      
      a {
        text-decoration: none;
      }

      ul {
  list-style: none;
}
      
      .nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffff66;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
      .nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
}

.nav-list a:hover {
  background: url(https://i.imgur.com/TLcush5.gif);
  color: black;
  border-radius: 80%;
}
      .container {
        display: flex;
      }
      
    .welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  background: rgb(255, 255, 255, 0.2);
  margin: 80px 20px;
  color: white;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);  
      }
      
.left {
        flex: 60%;
  padding-left: 90px;
  padding-top: 150px;
  text-align: justify;
  
      }
.right {
        flex: 40%;
          padding: 90px;
      }
      
      h1:after {
        content: ' \005F';
      }
      .ID-box {
        margin-top: 50px;
      }
     
       .skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
         padding-top: 150px;
  background: rgb(255, 255, 0, 0.2);
  margin: 80px 20px;
  color: black;
}
      .skills-section-header {
  max-width: 500px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
        font-size: 2rem;
        background-color: white;
      }
.skills-container {
  width: 30%;
  background-color: #e6ffe6;
  border: double;
  border-radius: 15px;
  padding-left: 1px;
}

.skills {
  padding: 3px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}
.skillset {
  text-align: left;
  color: #c6ff1a;
}
.prcnt {
  text-align: right;
} 
.R {width: 65%; background-color: #4d004d;}
.Python {width: 50%; background-color: #990099;}
.HTML {width: 40%; background-color:  #e600e6;}

  
      .projects-section {
  text-align: center;
  padding: 5rem 2rem;
        padding-top: 150px;
  background: rgb(153, 255, 102, 0.2);
       margin: 80px 20px;
}
      
      .projects-section-header {
 max-width: 200px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
        font-size: 2rem;
        background-color: #ffff66;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}
      
      .projects-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 500px) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2em 1em 4em / 0.5em 3em;
        font-size: 2rem;
        background: white;
        transition: background 0.3s ease-out;
      }
      .btn:hover {
        background: #330099;
        color: #ffaa00;
      }
      .btn:hover > i {
        transform: translateX(2px);
        color: #ffaa00;
      }
      .btn > i {
        margin-left: 10px;
        transform: translateX(0);
        transition: transform 0.8s ease-out;
      }

      .flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
      .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
 .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}    
     .flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #bbb;
  background-image: url(https://i.imgur.com/gG7JquX.png);
  color: black;
  
}
      .flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
      .contact-section {
  text-align: center;
  padding: 5rem 2rem;
        padding-top: 70px;
  background: rgb(255, 51, 0, 0.2);
       margin: 80px 20px;
}
      .contact-section-header {
   max-width: 150px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
        font-size: 2rem;
        background-color: white;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}
      .contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
      .contact-details {
  font-size: 2rem;
  transition: transform 0.3s ease-out;
        background-color: #ffff66;
        color: #330033;
        border-radius: 30px/10px;
        margin-right: 10px;
}

.contact-details:hover {
  transform: translateY(8px);
}
      footer {
  font-weight: 200;
  display: flex;
  justify-content: space-evenly;
  padding: 0.13rem;
  background: rgb(255, 255, 255, 0.2);
  border-top: 4px solid rgb(255, 255, 0, 0.3);
        margin: 80px 20px 0 20px;
        color: white;
        font-size: 22px;
        
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}